.about {
  width: 100vw;
  height: 120vh;
  position: relative;
  img {
    position: absolute;
    z-index: 1;
    border: white solid 24px;
  }
  &__photo-two {
    width: 560px;
    transform: rotate(-15deg);
    bottom: 20%;
    right: 50%;
  }
  &__content {

  }
  .gradient-triangle {
    position: absolute;
    z-index: 1;
    bottom: -2%;
    right: -3%;
    transform: rotate(10deg);
  }
  .gradient-squiggles {
    position: absolute;
    z-index: 3;
    top: 20%;
    right: 5%;
    transform: rotate(60deg);
  }
}

.rules {
  width: 100vw;
  height: 120vh;
  position: relative;
  text-align: center;
  &__content {

  }
}
