<div class="choice flex p-8 border-4 border-yellow-500 border-opacity-50">
  <%= cl_image_tag @survey.photo.key, x: choice.x, y: choice.y, width: choice.width, height: choice.height, crop: :crop, class: 'w-16 h-16 rounded' %>
  Reacher
  <%= link_to "<i class='fas fa-dumpster-fire'></i>".html_safe,
          choice_path(choice),
          method: :delete,
          remote: true,
          class: "text-red-600" %>

</div>
