<%= link_to choice_path(choice), method: :delete, remote: true do %>
  <div class="choice flex py-3 justify-between items-center border-8 border-white rounded m-4 hover:border-red-500 text-white hover:text-red-500 transition duration-300">
    <h6 class=" text-shadow--light ml-4">Delete Choice</h6>
    <%= cl_image_tag @survey.photo.key, x: choice.x, y: choice.y, width: choice.width, height: choice.height, crop: :crop, class: 'w-16 h-20 rounded object-cover mr-4', format: :jpg %>
  </div>
<% end %>
