<div class="footer bg-white text-center py-4">
  <div class="footer__icons flex w-full justify-center">
    <p class="text-gradient--blue text-4xl m-4 donation-btn">
      <i class="fas fa-pizza-slice"></i>
    </p>
    <a href="https://www.buymeacoffee.com/mangotree" class="text-gradient--blue text-4xl m-4 donation-btn" target="_blank">
      <i class="fas fa-pizza-slice"></i>
    </a>
    <a href="https://github.com/mangotreedev/reach" class="text-gradient--blue text-4xl m-4 contribute-btn" target="_blank">
      <i class="fab fa-github-alt"></i>
    </a>
    <a href="https://github.com/mangotreedev/reach/issues" class="text-gradient--blue text-4xl m-4 issue-btn" target="_blank">
      <i class="fas fa-question"></i>
    </a>
  </div>
  <div class="footer_text">
    <p class="text-black">
      A ridiculous app, built with <i class="fas fa-heart text-gradient--pink"></i> and open source.
    </p>
      <h6 class="text-gradient--blue inline"><i class="far fa-copyright inline"></i>Reach</h6><p class="text-black inline"> | All Rights Reserved</p>
  </div>
</div>
