<div data-controller="clipboard">
  <i class="fas fa-share-alt text-blue-500 inline-block hover:text-blue-400 transition duration-300 cursor-pointer text-4xl ml-2 share-btn" data-action='click->clipboard#copy' data-url="<%= survey_url(survey) %>" data-clipboard-target="btn"></i>
</div>
