<div data-controller="clipboard">
  <i class="fas fa-share text-blue-500 inline-block hover:text-blue-400 transition duration-300 cursor-pointer text-2xl ml-2" data-action='click->clipboard#copy' data-url="<%= survey_url(survey) %>"></i>
</div>
