<div class="flex survey">
  <div class="survey__photo">
    <h1 class="">Who's the reacher</h1>
    <%= cl_image_tag survey.photo.key, height: 500, width: 700, crop: :limit%>
  </div>

  <div class="survey__choices">
    <h1 class="">The Choices</h1>
    <div class="choices">
      <% survey.choices.each do |choice| %>
        <%= link_to choice_votes_path(choice), method: :post do %>
          <%= render 'choices/choice', choice: choice %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
