
<div class="flex survey">
  <div class="survey__photo">
    <h1 class="text-6xl font-bold">Who's the reacher</h1>
    <%= cl_image_tag @survey.photo.key, height: 500, width: 700, crop: :fill%>
    <div data-controller="clipboard">
      <button type="button" class="px-12 py-3 bg-blue-500 text-white
            rounded border border-blue-500 inline-block
            hover:bg-blue-400 hover:border-blue-400 focus:outline-none
            transition duration-300 w-full" data-action='click->clipboard#copy' data-url="<%= survey_url(@survey) %>">
        Share Link <i class="far fa-clipboard"></i>
      </button>
    </div>
  </div>

  <div class="survey__choices">
    <h1 class="text-6xl font-bold">The Results</h1>
    <div class="choices">
      <% @survey.choices.each do |choice| %>
        <%= render 'choices/result', choice: choice %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Next", root_path, class: 'px-12 py-3 bg-yellow-400  text-white rounded border border-yellow-400 inline-block
    hover:bg-yellow-300 hover:border-yellow-300 focus:outline-none
    transition duration-300' %>

