
<div class="flex survey">
  <div class="survey__photo">
    <h1 class="text-6xl font-bold">Who's the reacher</h1>
    <%= cl_image_tag @survey.photo.key, height: 500, width: 700, crop: :fill%>
  </div>

  <div class="survey__choices">
    <h1 class="text-6xl font-bold">The Results</h1>
    <div class="choices">
      <% @survey.choices.each do |choice| %>
        <%= render 'choices/result', choice: choice %>
      <% end %>
    </div>
  </div>
</div>
