<div class="banner px-32 flex flex-col justify-center">
  <video autoplay muted loop class="banner__video">
    <source src="<%= video_path("bideo_one.mp4") %>" type="video/mp4">
  </video>
  <div class="banner__content w-1/2">
    <h1 class="text-red-400">Reacher</h1>
    <h3>Every good relationship or group has someone who outkicks their coverage.</h3>
    <br>
    <h3>Did you?</h3>

      <button type="button" class="px-12 py-3 bg-red-500 text-white
          rounded border border-red-500 inline-block
          hover:bg-red-400 hover:border-red-400 focus:outline-none
          transition duration-300 w-full" data-action='click->modal#display'>
        Report Photo
      </button>
  </div>
</div>

<div class="about">
  <div class="about__content">
    <h4>Why does this exist?</h4>
  </div>
</div>
<div class="rules">
  <div class="rules__content">
    <h4>Don't be a prick</h4>
  </div>
</div>
