<div class="banner px-32 flex flex-col justify-center">
  <video autoplay muted loop class="banner__video">
    <source src="<%= video_path("bideo_one.mp4") %>" type="video/mp4">
  </video>
  <div class="banner__content w-1/2">
    <h1 class="text-gradient">Reacher</h1>
    <h4 class="text-white mb-4">Every relationship has a reacher and a settler.</h4>
    <h4 class="text-white">...which one are you?</h4>
    <%= link_to "Find Out", root_path, class: "btn btn-gradient focus:outline-none w-full mt-8" %>
  </div>
</div>

<div class="about">
  <div class="about__content">
    <h4>Why does this exist?</h4>
  </div>
</div>
<div class="rules">
  <div class="rules__content">
    <h4>Don't be a prick</h4>
  </div>
</div>
