<div class="container mx-auto sm:w-full md:w-3/4 lg:w-1/2 p-4">
  <h1 class="text-gray-800">Terms of Use</h1>

  <% 5.times do %>
  <h4 class="text-gray-800 mt-6">Sub Section</h4>
  <p class="text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, rem? Necessitatibus, ipsum illum eaque numquam unde aut aspernatur quaerat aperiam dolorem placeat nihil illo delectus voluptas ex repellendus obcaecati quia reiciendis ducimus consequatur repellat beatae omnis? Cumque laborum quae exercitationem quidem maxime facilis illo harum in obcaecati magnam, animi corrupti alias quod totam quos optio veritatis. Veritatis nostrum, sequi numquam dolores distinctio repellendus illum tempora quae laborum in, dolore magnam? Earum odio quibusdam beatae debitis odit atque doloribus nostrum reprehenderit! Reiciendis fugit provident corporis officia cumque quis rem suscipit. Accusantium ipsa libero mollitia nisi incidunt aliquam est. Laudantium aliquid illo dignissimos libero nesciunt maiores, quos dolore tempora facere aut facilis voluptates magni cum impedit nisi aliquam quam quae. Ut adipisci iure consectetur dicta ipsa atque quidem aliquid enim at animi optio magni autem molestias natus neque voluptatem quos iusto necessitatibus incidunt ea, officia, voluptatum aliquam. Autem, quibusdam explicabo veritatis et incidunt amet voluptatem tempora dolorum veniam hic accusamus quae ratione aspernatur eos error vitae repudiandae odio cumque sint ut? Porro obcaecati fugiat quae, doloribus soluta magni maiores vero, minima ullam omnis optio nesciunt modi reiciendis amet delectus laboriosam? Quo sed commodi facere minima excepturi tenetur ex tempora enim! Non, nemo.</p>
  <% end %>
</div>

