<div class="container mx-auto sm:w-full md:w-10/12 lg:w-3/4 p-4">
  <h1 class="text-gray-800">Gallery View</h1>

  <div class="surveys-masonry">
    <% @surveys.each do |survey| %>
      <div class="survey-tile" data-aos="fade-up" data-aos-duration="1000" data-aos-once=true>
        <%= link_to survey_path(survey) do %>
          <%= cl_image_tag survey.photo.key, crop: :fill, class: 'rounded' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
