.add-photo-form {
  position: relative;
  h3, .simple_form {
    z-index: 1;
  }
  .gradient-triangle {
    position: absolute;
    z-index: 0;
    bottom: -10%;
    right: -10%;
    transform: rotate(120deg);
    width: 60%;
  }
  .gradient-squiggles {
    position: absolute;
    z-index: 0;
    bottom: -5%;
    left: -10%;
    transform: rotate(45deg);
    width: 45%
  }
}


// Breakpoint :sm
@media only screen and (min-width: 640px) {

}

// Breakpoint :md
@media only screen and (min-width: 768px) {

}

// Breakpoint :lg
@media only screen and (min-width: 1024px) {

}

// Breakpoint :xl
@media only screen and (min-width: 1280px) {
}

// Breakpoint :2xl
@media only screen and (min-width: 1536px) {

}
