.banner {
  width: 100vw;
  height: 100vh;
  position: relative;
    background-image: url('https://images.unsplash.com/photo-1544617886-d740448424f5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
  background-size: cover;
  &__video {
    display: none;
  }
  &__content {
    z-index: 2;
    padding: 2rem;
    background: rgba( 255, 224, 244, 0.35 );
    box-shadow: 0 8px 48px 0 rgba( 255, 224, 244, 0.35 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 8px;
  }
}

// Breakpoint :sm
@media only screen and (min-width: 640px) {
  .banner {
    &__video {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  }
}

// Breakpoint :md
@media only screen and (min-width: 768px) {

}

// Breakpoint :lg
@media only screen and (min-width: 1024px) {

}

// Breakpoint :xl
@media only screen and (min-width: 1280px) {

}

// Breakpoint :2xl
@media only screen and (min-width: 1536px) {

}
