.gallery {
  position: relative;
  .gradient-triangle {
    position: absolute;
    z-index: 0;
    top: 2%;
    right: -20%;
    transform: rotate(120deg);
    width: 60%;
  }
  .gradient-squiggles {
    position: absolute;
    z-index: 0;
    top: 40%;
    left: -15%;
    transform: rotate(45deg);
    width: 45%
  }
  &__photo {
    img {
      width: 100%;
      max-height: 60vh;
      object-fit: cover;
    }
  }
}


// Breakpoint :sm
@media only screen and (min-width: 640px) {

}

// Breakpoint :md
@media only screen and (min-width: 768px) {

}

// Breakpoint :lg
@media only screen and (min-width: 1024px) {

}

// Breakpoint :xl
@media only screen and (min-width: 1280px) {

}

// Breakpoint :2xl
@media only screen and (min-width: 1536px) {

}
