.surveys-masonry {
  margin: 0 auto;
}

.survey-tile {
  margin-bottom: 1rem;
  position: relative;
  width: 300px;
  height: auto;
  &__options-block {
    z-index: 5;
    position: absolute;
    bottom: 8px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 1.5rem;
      margin-left: 0.25rem;
    }
  }
  &__removal-block {
    z-index: 5;
    position: absolute;
    top: 8px;
    right: 12px;
    i {
      font-size: 1.5rem;
    }
  }
  &__status-block {
    z-index: 5;
    position: absolute;
    top: 8px;
    left: 12px;
  }
}
